# Rust
/target/

# Nix
/result
.direnv/

# Docs
docs/node_modules/
docs/.vitepress/cache/
docs/.vitepress/dist/

# Editor
.idea/
.vscode/
*.swp
*~

# Normalize
.normalize/*
!.normalize/config.toml
!.normalize/complexity-allow
!.normalize/duplicate-functions-allow
!.normalize/duplicate-types-allow
!.normalize/hotspots-allow
!.normalize/large-files-allow
!.normalize/memory/
