# Rust
/target/

# Nix
/result
.direnv/

# Docs
docs/node_modules/
docs/.vitepress/cache/
docs/.vitepress/dist/

# Editor
.idea/
.vscode/
*.swp
*~

# Moss
.moss/*
!.moss/config.toml
!.moss/complexity-allow
!.moss/duplicate-functions-allow
!.moss/duplicate-types-allow
!.moss/hotspots-allow
!.moss/large-files-allow
!.moss/memory/
