[package]
name = "rhizome-resin-macros"
version.workspace = true
edition.workspace = true
license.workspace = true
description = "Derive macros for resin"

[lib]
proc-macro = true

[dependencies]
syn.workspace = true
quote.workspace = true
proc-macro2.workspace = true
