[package]
name = "rhizome-resin-op-macros"
version.workspace = true
edition.workspace = true
license.workspace = true
description = "Proc macros for resin-op (DynOp derive)"

[lib]
proc-macro = true

[dependencies]
syn.workspace = true
quote.workspace = true
proc-macro2.workspace = true
